**/.vs/*
**/obj/*
**/bin/*
packages/*
*.userprefs
**/Resource.Designer.cs
Components/*
**.csproj.user
**/*.csproj.bak
**.csproj.bak
**/Components/*
*/packages/*
**/*.csproj.user
**/*.cs.orig
**/.DS_Store
/.idea/
/.vs/
/packages/
*.user
/*.user
packages.lock.json
